altair
asgiref
attrs
blinker
cachetools        
certifi        
charset-normalizer
click
colorama
contourpy
coverage
cycler
distlib
Django
exceptiongroup
filelock
fonttools
gitdb
GitPython
idna
importlib_resources
iniconfig
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
packaging
pandas
Pillow
platformdirs
plotly
pluggy
pprintpp
protobuf
pyarrow
pycountry
pycountry-convert
pydeck
pygame
Pygments
pyparsing
pytest
pytest-cov
pytest-mock
python-dateutil
pytz
referencing
repoze.lru
requests
rich
rpds-py
seaborn
six
smmap
sqlparse
streamlit
tenacity
toml
tomli
toolz
tornado
typing_extensions
tzdata
urllib3
virtualenv
watchdog
zipp
